@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Pinyon+Script');

body {
    font-family: 'Pinyon Script', cursive;
    margin: 0;
    padding: 0;
}

#wrapper {
    height: 1003px;
    width: 1440px;
    position: relative;
    background-color: black;
}


#sky {
    position: relative;
    background-image: url("/style/assets/ciel5.png");
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
/*    background-color: gray;
    opacity: 0.5;*/
}

h1 {
    text-align: center;
    font-weight: bold;
}

#camera-container {
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 110px;
    padding: 0 0 0 0;
/*    background-color: red;    
*/}

#sketch-container {
    position: absolute;
    z-index: 1;
    margin-top: 200px;
    margin-left: 675px;
    background-color: blue;
}

/*#ciel {
    background-image: url('/style/assets/clouds.jpg');
/*    opacity: 0;*/
/*    z-index: -251;*/

/*#ciel-text {
    opacity: 0;    
    font-size: 4em;
    padding: 300px 300px;
    z-index: -1;
    text-transform: rotate -30deg;
}*/


