@import url(https://fonts.googleapis.com/css?family=Alex+Brush|Pinyon+Script);

body {
    height: 100%;
    width: 100%;
    font-family: 'Pinyon Script', cursive;
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: gray;
}

#container {
    width: 100vw;
    height:100vh;
    z-index: 0;
}

#sky {
    background-image: url("/style/assets/ciel3.png");
    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    text-align: center;
    font-weight: bold;
/*    text-shadow: 3px -3.5px 2.5px black; */
}

#sketch-container {
    position: fixed;
    z-index: 1;
    margin-top: 293px;
    margin-left: 500px;
}

#camera-container {
    position: fixed;
    z-index: -250;
    margin-top: 293px;
}

#ciel {
    background-image: url('/style/assets/clouds.jpg');
    visibility: none;
}


